* {
    background-color: rgb(122, 184, 234);
    box-sizing: border-box;
}

body {
    height: auto;
    font-family: 'Roboto';
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "hdr"
        "side"
        "main";
        margin-bottom: 150px;
}

header,
aside,
main {
    display: flex;
    justify-content: center;
    align-items: center;
    /* NEW */
    /* margin: 0 10px 0 10px; */
}

header {
    grid-area: hdr;
    display: flex;
    flex-flow: column;
    font-size: 20px;
    /* NEW */
    max-height: 400px;
    margin-bottom: 100px;
}

aside {
    grid-area: side;
    display: flex;
    flex-direction: column;
    padding: 0 10px 0 10px;
    border: 0;
    margin: 0;
/* NEW */
    max-height: 300px;
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 50px 0 50px;
/* NEW */
    max-height: 400px;
}

li {
    list-style-type: none;
}

#inputText {
    border: none;
    font-size: 14px;
    font-family: 'Roboto';
    color: white;
    background-color: rgba(121, 121, 121, 0.424);
    padding: 5px;
}

#button {
    background-color: rgba(54, 228, 54, 0.7);
    border: none;
    font-size: 14px;
    font-family: 'Roboto';
    color: white;
    padding: 5px;
    transition-duration: .3s;
    margin-left: 10px;
}

#button:hover {
    background-color: rgb(4, 177, 4);
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
}

.head {
    font-family: 'Bangers';
    color: #ffcc01;
    text-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.25);
}

#pokemonLogo {
    max-width: 300px;
}

#pokemonImg {
    max-width: 300px;
}

.asideImage {
    padding: 0 10px;
}
/* NEW */
.search {
    /* margin-bottom: 50px; */
}

@media only screen and (min-width: 700px) {
    body {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr auto;
        grid-template-areas:
            "hdr hdr"
            "side main";
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    header, aside, main {
        padding: 0 0 50px 50px;
    }
    main {
        display: flex;
        align-items: flex-start;
    }
    aside {
        display: flex;
        align-items: flex-end;
    }
    #pokemonImg {
        max-width: 500px;
    }
}