* {
    background-color: rgb(122, 184, 234);
    box-sizing: border-box;
}

body {
    height: auto;
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "hdr"
        "side"
        "main";
    margin: 0;
}
.head {
    font-family: 'Bangers';
}

header,
aside,
main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

header {
    grid-area: hdr;
    display: flex;
    flex-direction: column;
    /* margin-top: 10px; -- for desktop! */
}

aside {
    /* lots of space above and below the image
     (when viewing mobile). padding/margin doesn't seem to fix it */
    grid-area: side;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    border: 0;
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
}

#pokemonLogo {
    max-width: 300px;
}

#pokemonImg {
    max-width: 300px;
}

@media only screen and (min-width: 700px) {
    body {
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr auto;
        grid-template-areas:
            "hdr hdr"
            "side main";
    }
}