* {
    box-sizing: border-box;
}

body {
    height: auto;
    font-family: 'Roboto';
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "hdr"
        "side"
        "main";
    margin-bottom: 150px;
    letter-spacing: 2px;
    background-color: rgb(122, 184, 234);
    background-image: url(/img/pogo_background2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}

header,
aside,
main {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    grid-area: hdr;
    display: flex;
    flex-flow: column;
    font-size: 20px;
    /* NEW */
    max-height: 400px;
    margin-bottom: 100px;
}

aside {
    grid-area: side;
    display: flex;
    flex-direction: column;
    padding: 0 10px 0 10px;
    border: 0;
    margin: 0;
    /* NEW */
    max-height: 300px;
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 50px 0 50px;
    max-height: 400px;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

#inputText {
    border: none;
    font-size: 14px;
    font-family: 'Roboto';
    color: white;
    background-color: rgba(121, 121, 121, 0.424);
    padding: 5px;
}

#button {
    background-color: rgba(218, 48, 51, .9);
    border: none;
    font-size: 14px;
    font-family: 'Roboto';
    color: white;
    padding: 5px;
    transition-duration: .3s;
    margin-left: 10px;
}

#button:hover {
    background-color: rgb(255,204,1);
    color: black;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
}

.head {
    font-family: 'Bangers';
    color: rgb(218, 48, 51);
    text-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.25);
}

#pokemonLogo {
    max-width: 300px;
}

#pokemonImg {
    max-width: 300px;
}

.asideImage {
    padding: 0 10px;
}

@media only screen and (min-width: 700px) {
    body {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr auto;
        grid-template-areas:
            "hdr hdr"
            "side main";
        justify-content: center;
        align-content: center;
        align-items: center;
        background-position: center;
    }

    header,
    aside,
    main {
        padding: 0 0 50px 50px;
    }

    main {
        display: flex;
        align-items: flex-start;
    }

    aside {
        display: flex;
        align-items: flex-end;
    }

    #pokemonImg {
        max-width: 500px;
    }
}